# Creating Named Tuples from a list of dictionaries

In [4]:
from collections import namedtuple

def current_row_namedtuple_from_new_value(new_value):
    namedTupleConstructor = namedtuple(
        new_value.get("last_name","current_row"), 
        " ".join(sorted(new_value.keys()))
        )
    current_row_namedtuple = namedTupleConstructor(**new_value)
    return current_row_namedtuple

In [5]:
data_set = [
    {"first_name": "Graham", "last_name": "Chapman", "date_of_birth": "1941-01-08"},
    {"first_name": "John", "last_name": "Cleese", "date_of_birth": "1939-10-27"},
    {"first_name": "Terry", "last_name": "Gilliam", "date_of_birth": "1940-11-22"},
    {"first_name": "Eric", "last_name": "Idle", "date_of_birth": "1943-03-29"},
    {"first_name": "Terry", "last_name": "Jones", "date_of_birth": "1942-02-01"},
    {"first_name": "Michael", "last_name": "Palin", "date_of_birth": "1943-05-05"}
]

In [7]:
result = map(current_row_namedtuple_from_new_value, data_set)
for named_tuple in result:
    print(named_tuple)

Chapman(date_of_birth='1941-01-08', first_name='Graham', last_name='Chapman')
Cleese(date_of_birth='1939-10-27', first_name='John', last_name='Cleese')
Gilliam(date_of_birth='1940-11-22', first_name='Terry', last_name='Gilliam')
Idle(date_of_birth='1943-03-29', first_name='Eric', last_name='Idle')
Jones(date_of_birth='1942-02-01', first_name='Terry', last_name='Jones')
Palin(date_of_birth='1943-05-05', first_name='Michael', last_name='Palin')