# Working with Lists, Sets, and Tuples

In [56]:
t1 = (1, 2, 3, 4, 5)
print(type(t1), t1)
print(t1[::-1])

<class 'tuple'> (1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

In [57]:
t2 = (4, 5, 6)
print(type(t2), t2)

<class 'tuple'> (4, 5, 6)

In [58]:
t3 = t1 + t2
print(type(t1), t1, "+", type(t2), t2, "=", type(t3), t3)

<class 'tuple'> (1, 2, 3, 4, 5) + <class 'tuple'> (4, 5, 6) = <class 'tuple'> (1, 2, 3, 4, 5, 4, 5, 6)

In [59]:
t3[::-1]

(6, 5, 4, 5, 4, 3, 2, 1)

In [60]:
s = {4, 5, 6}
print(type(s), s)

<class 'set'> {4, 5, 6}

In [61]:
stu = s.union(t3)
print(type(s), s, "union", type(t3), t3, "is", type(stu), stu)

<class 'set'> {4, 5, 6} union <class 'tuple'> (1, 2, 3, 4, 5, 4, 5, 6) is <class 'set'> {1, 2, 3, 4, 5, 6}

In [ ]:
sti = s.intersection(t3)
print(type(s), s, "intersection", type(t3), t3, "is", type(sti), sti)

<class 'set'> {4, 5, 6} intersection <class 'tuple'> (1, 2, 3, 4, 5, 4, 5, 6) is <class 'set'> {4, 5, 6}

In [64]:
l = [1, 2, 3, 4, 5]
print(type(l), l)

<class 'list'> [1, 2, 3, 4, 5]

In [66]:
l[::-1]

[5, 4, 3, 2, 1]

In [67]:
slu = s.union(l)
print(type(s), s, "union", type(l), l, "is", type(slu), slu)

<class 'set'> {4, 5, 6} union <class 'list'> [1, 2, 3, 4, 5] is <class 'set'> {1, 2, 3, 4, 5, 6}

In [68]:
sli = s.intersection(l)
print(type(s), s, "intersection", type(l), l, "is", type(sli), sli)

<class 'set'> {4, 5, 6} intersection <class 'list'> [1, 2, 3, 4, 5] is <class 'set'> {4, 5}